<ion-header>
  <ion-toolbar>


    <ion-title class="subtitulo">Información</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="body-content-container">
  <ion-card class="mt-4 mb-4">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-card-title class="subtitulo">Importante</ion-card-title>
    </ion-item>

    <ion-card-content>
      Recuerda que debes completar 40 horas de coloquios, desde primer semestre hasta tu último semestre
    </ion-card-content>

  </ion-card>
     
  <ion-card class="mt-4 mb-4">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-card-title class="subtitulo">¿Como ver mis horas?</ion-card-title>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-label >Ingresar a D2L </ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>Entrar en la materia de Coloquios</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>Calificaciones</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label>Contar sus horas (1 equivale a 1 hora de coloquio)</ion-label>
      </ion-item>
    </ion-card-content>

    
  </ion-card>

  <ion-card class="mt-4 mb-4">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-card-title class="subtitulo">¿Duda sobre coloquios?</ion-card-title>
    </ion-item>

    <ion-card-content>
      Envía un mail con tu inquietud al siguiente correo: gsanchez@usfq.edu.ec
    </ion-card-content>

  </ion-card>
</div>
</ion-content>
