ion-slides, ion-slide {
    height: 100%;
    width:100%;
}

.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
}

test-class{
    width: 800px;
}